h1 {
  margin-bottom: 1em;
}
h2 {
  margin-bottom: 1.5em;
}

th {
  padding: 0.5em 1em 1em 0;
  font-size: 0.8em;
  color: rgb(153, 153, 153);
}

td {
  padding: 0.5em 1em 1em 0;
  font-size: 1.2em;
}

.leftPanel section {
  padding: 1.5em;
  background-color: black;
  border-radius: 1em;
  margin-bottom: 2em;
}
